if ROCKCHIP_PX30

config TARGET_EVB_PX30
	bool "EVB_PX30"

config ROCKCHIP_BOOT_MODE_REG
	default 0xff010200

config SYS_SOC
	default "px30"

config SYS_MALLOC_F_LEN
	default 0x400

config SPL_SERIAL_SUPPORT
	default y

config TPL_LDSCRIPT
	default "arch/arm/mach-rockchip/u-boot-tpl-v8.lds"

config TPL_TEXT_BASE
	default 0xff0e1000

config TPL_MAX_SIZE
	default 10240

config TPL_STACK
	default 0xff0e4fff

config ROCKCHIP_RK3326
	bool "Support Rockchip RK3326 "
	help
	  RK3326 can use most code from PX30, but at some situations we have
	  to distinguish between RK3326 and PX30, so this macro gives help.
	  It is usually selected in rk3326 board defconfig.

config DEBUG_UART2_CHANNEL
	int "Mux channel to use for debug UART2"
	depends on DEBUG_UART_BOARD_INIT
	default 0
	help
	  UART2 can use two different set of pins to route the output.
	  For using the UART for early debugging the route to use needs
	  to be declared (0 or 1).

source "board/rockchip/evb_px30/Kconfig"

endif
