if TARGET_R88_RK3368

config SYS_BOARD
	default "r88-rk3368"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "r88-rk3368"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
